html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
}
.live_video{
    width: 100%;
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
}
.video_controls{
    width: 100%;
    background-color: #2d2d2d;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}

.live_sound{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    right: 70px;
    cursor: pointer;
}
.live_sound_ui{
    width: 100px;
    height: 10px;
    position: absolute;
    top: -9px;
    right: 37px;
    display:none;
}

.live_zise{
    position: absolute;
    top: 8px;
    right: 40px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.live_zise_sub1{
    display: flex;
    margin-bottom: 2px;
}
.live_zise_sub1 div:nth-child(1){
    border-top: 3px solid black;
    border-left: 3px solid #000;
    width: 4px;
    height: 4px;
    margin-right: 2px;
}
.live_zise_sub1 div:nth-child(2){
    border-top: 3px solid black;
    border-right: 3px solid #000;
    width: 4px;
    height: 4px;
}
.live_zise_sub2{
    display: flex;
}
.live_zise_sub2 div:nth-child(1){
    border-bottom: 3px solid black;
    border-left: 3px solid #000;
    width: 4px;
    height: 4px;
    margin-right: 2px;
}
.live_zise_sub2 div:nth-child(2){
    border-bottom: 3px solid black;
    border-right: 3px solid #000;
    width: 4px;
    height: 4px;
}

.live_option{
    position: absolute;
    top: 8px;
    right: 15px;
    width: 16px;
    height: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.live_option div{
    width: 3px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-top: 1px;
}

.live_run{
    position: relative;
}
.live_run .run{
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.live_bar{
    width: 100%;
    height: 30px;
    background-color: #fff;
}
.live_bar_sub{
    width: 100%;
    height: 30px;
    background-color: red;
}