html{
    background-color: #2d2d2d;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.main div{
    display: flex;
    flex-flow: column;
    align-items: center;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
}
input{
    font-size: 25px;
    padding: 10px;
    width: 300px;
    border: none;
    margin-bottom: 25px;
}
.login{
    width: 281px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    background-color: #3f51b58c;
    display: inline-block;
    text-align: center;
}
.join{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}