{% load static%}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>main</title>
        <meta charset="UTF-8">
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/header.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/static/js/csrf.js"></script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/video_data.js"></script>
        <script src="/static/js/video_ui.js"></script>
        <script src="/static/js/main_event.js"></script>
        <script src="/static/js/action.js"></script>
        <script>
            window.onload = function(){
                let id = '{{id}}'
                if(id != 'admin'){
                    document.querySelectorAll('.menu_list li')[0].classList.add('display_none')
                }
            }
        </script>
    </head>
    <body>
        <div class="modal">
            <div class="modal_ui">
            </div>
        </div>
        <header>
            <img src="/static/images/video.png" class="logo">
            <span class="title">동영상 보는 사이트</span>
            <div class="menu">
                <div class="menu_icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <ul class="menu_list">
                        <li class="menu_info">Info</li>
                        <li class="menu_logout">logout</li>
                        <li class="menu_edit">edit</li>
                        <li class="menu_home">home</li>
                        <li class="menu_video">Video</li>
                        <li class="menu_live">Live</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="category">
                {% for category in videoCategory%}
                    <label for="{{category.id}}">{{ category.name }}</label>
                {% endfor %}
            </div>
            <div class="video_list">
            </div>
            <button class="data_add">더보기</button>
        </div>
    </body>
</html>