<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/join.css" rel="stylesheet">
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/static/js/csrf.js"></script>
        <script src="/static/js/join_data.js"></script>
        <script src="/static/js/join_event.js"></script>
    </head>
    <body>
        <div>
            <input type="text" name="name" placeholder="이름">
            <input type="text" name="sub_name" placeholder="닉네임">
            <input type="text" name="id" placeholder="id">
            <input type="text" name="pw" placeholder="pw">
            <input type="text" name="phon" placeholder="핸드폰 번호('-' 제외 , 숫자만)">
            <input type="text" name="email" placeholder="이메일">
            <button class="join_ok" disabled>확인</button>
        </div>
    </body>
</html>