<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/header.css" rel="stylesheet">
        <link href="/static/css/live.css" rel="stylesheet">
        <link href="/static/css/modal.css" rel="stylesheet">
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/static/js/csrf.js"></script>
        <script>
            let sub_name = '{{sub_name}}'
            let live_user = '{{live_user.user_id}}'
        </script>
        <script src="/static/js/header.js"></script>
        <script src="/static/js/live_ui.js"></script>
        <script src="/static/js/live_data.js"></script>
        <script src="/static/js/live_event.js"></script>
        <script src="/static/js/modal.js"></script>
    </head>
    <body>
        <div class="modal">
            <div class="modal_ui">
            </div>
        </div>
        <header>
            <img src="/static/images/video.png" class="logo">
            <span class="title">동영상 보는 사이트</span>
            <div class="menu">
                <div class="menu_icon">
                    <div></div>
                    <div></div>
                    <div></div>
                    <ul class="menu_list">
                        <li class="menu_info">Info</li>
                        <li class="menu_logout">logout</li>
                        <li class="menu_edit">edit</li>
                        <li class="menu_home">home</li>
                        <li class="menu_video">Video</li>
                        <li class="menu_live">Live</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main">
            <div>
                <div></div>
            </div>
            
            <div class="div_live">
                <div class="live_video">
                    <div class="action-list">
                        <div class="chatting-icon"><div></div><div></div><div></div></div>
                        <div class="list-icon"><div></div><div></div><div></div></div>
                        <div class="star-icon"><span>☆</span></div>
                    </div>
                    <video src="" muted>
                    </video>
                    <div class="video_controls">
                        <div class="live_run">
                            <img class="run" src="/static/images/pause.png">
                            <div class="live_bar">
                                <div class="live_bar_sub">
                                </div>
                            </div>
                            <input class="live_sound_ui" type="range" value="100">
                            <img class="live_sound" src="/static/images/sound.png">
                            <div class="live_zise">
                                <div class="live_zise_sub1"><div></div><div></div></div>
                                <div class="live_zise_sub2"><div></div><div></div></div>
                            </div>
                            <div class="live_option">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="live_chatting">
                    <div class="sub_name_change">
                        <div class="user_icon">
                            <div class="user1"></div>
                            <div class="user2"><div class="user4"></div></div>
                            <div class="user3"></div>
                        </div>
                    </div>
                    <textarea wrap="on" class="chatting_out" readonly="readonly"></textarea>
                    {% if live_user.chatting in 'T'%}
                        <textarea wrap="on" class="chatting_in" ></textarea>
                    {% else %}
                        <textarea wrap="on" class="chatting_in" placeholder="채팅불가" disabled></textarea>
                    {% endif %}
                </div>
                <div class="live_list">
                    <div class="fiter-icon" title="0">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div>
                            <span title="0" class="background-color-9c27b0">전체</span>
                            {% for category in videoCategory%}
                            <span title="{{category.id}}">{{category.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="refresh-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="live-content" title="0">
                    </div>
                </div>
                <div class="star_list">
                    <div class="star-add-icon"><span>☆</span><span>＋</span></div>
                    <div></div>
                </div>
            </div>
        </div>
    </body>
</html>