.del{
    width: 14px;
    display: none;
    cursor: pointer;
    margin-left: 10px;
}
.book_type_name:hover .del{
    display: inline-block;
}
.background_color_white{
    background-color: white;
}
.background_color_yellow{
    background-color: yellow;
}
.main_table{
    font-size: 30px; 
    border-collapse: collapse; 
    border-spacing: 0;
}